@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    background: url("gameboy-bg.png") center / cover no-repeat fixed;;
    font-family: 'Silkscreen', cursive;
    color: whitesmoke;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}
header h1 {
    font-size: xx-large;
    font-family: 'Silkscreen', cursive;
    font-weight: 700;
}
input {
    border-radius: 20px;
    border-style: solid;
    border: 2px black;
    outline: none;
    padding: 10px;
    background-color: whitesmoke;
    min-width: 220px;
    width: 20vw;
}

.card-grid {
    max-width: calc(260px * 4);
    min-width: 220px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon-card {
    margin: 20px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;

    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(15px);

    overflow: hidden;
}
.pokemon-card:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.pokemon-card img {
    height: 70%;
}
.pokemon-card h2 {
    margin: 0;
    font-family: 'Silkscreen', cursive;
    font-size: larger;
}
.pokemon-card h3 {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 8px;
    border-radius: 0px 0px 20px 0px;
    background-color: whitesmoke;
    color: black;
    font-family: 'Silkscreen', cursive;
    font-weight: 300;
}

.nav-btn {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 2vh;
}
button {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    border: 0;
    margin: 5px;
    background-color: whitesmoke;
    font-weight: 800;
    font-size: larger;
    font-family: 'Silkscreen', cursive;
}
button:hover {
    background: rgb(175, 169, 169);
    cursor: pointer;
}
button:disabled {
    background: rgb(175, 169, 169);
    cursor: default;
}