@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    background: url("gameboy-bg.png") center / cover no-repeat fixed;;
    font-family: 'Silkscreen', cursive;
    color: whitesmoke;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}
header h1 {
    font-size: xx-large;
    font-family: 'Silkscreen';
    font-weight: 700;
}

.pkm-card {
    width: 60%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;

    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(15px);
}
.pkm-img {
    width: 40%;
}
.pkm-img img {
    position: absolute;
    translate: -40% ;
}
.pkm-details {
    width: 60%;
    margin: 20px;
}
.pkm-id {
    font-size: x-large;
    margin: 10px;
    position: absolute;
    right: 10px;
}

.pkm-container {
    padding-left: 10px;
    border-left: 5px solid whitesmoke;
}

button {
    width: fit-content;
    height: 50px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    border: 0;
    background-color: whitesmoke;
    font-weight: 400;
    font-size: medium;
    font-family: 'Silkscreen', cursive;
}
button:hover {
    background: rgb(175, 169, 169);
    cursor: pointer;
}
button:disabled {
    background: rgb(175, 169, 169);
    cursor: default;
}

 /* Extra small devices (phones, 768px and down) */
 @media only screen and (max-width: 768px) {
    .pkm-card {
        width: 90%;
        max-width: none;
        flex-wrap: wrap;
    }
    .pkm-img { 
        width: 100%; 
        display: flex;
        justify-content: center;
    }
    .pkm-img img {
        position: relative;
        translate: 0;
        width: 80%;
    }
    .pkm-details {
        width: 80%;
        margin: 10px;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 600px) {
    .pkm-card {
        width: 60%;
        flex-wrap: wrap;
    }
    .pkm-img { 
        width: 100%; 
        max-width: none;
        display: flex;
        justify-content: center;
    }
    .pkm-img img {
        position: relative;
        translate: 0;
        width: 60%;
    }
    .pkm-details {
        width: 60%;
        margin: 20px;
    }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .pkm-card {
        width: 60%;
        flex-wrap: nowrap;
    }
    .pkm-img { 
        width: 40%;
        max-width: 300px;
        display: block;
    }
    .pkm-img img {
        position: absolute;
        translate: -40%;
        width: auto;
    }
    .pkm-details {
        width: 60%;
        margin: 20px;
    }
 } 