:root {
    --primary-color: #f4f4f4;
    --secondary-color: #242029;
    --gray: #AFA9A9;
    --bg-color: rgba( 255, 255, 255, 0.05 );
    --bg-hover-color: rgba( 255, 255, 255, 0.2 );
    --bg-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.45);
}