@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    background: url("../assets/gameboy-bg.png") center / cover no-repeat fixed;;
    font-family: 'Silkscreen', cursive;
    color: whitesmoke;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
section {
    padding-left: 10px;
    border-left: 5px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 20px;
}